intel-mobileodt-cervical-cancer-screening/
*.csv
fdp3/
fdp3.11/
venv/
env/
visualizations/ 
client.log/
dataloader.log/
run_federated.log/
*.log
*.npy
*.png
*.jpg
*.jpeg
*.gif
model.log/
pipelines.log/
*.log
*.npy
*.png
*.jpg
*.jpeg
*.gif
preprocess.log/
*.log
*.npy
*.png
*.jpg
*.jpeg
*.gif
visualization.log/
*.log
*.npy
*.png
*.jpg
*.jpeg
*.gif

processed_data/
*.log
*.npy
*.png
*.jpg
*.jpeg
*.gif
*.csv 
